{% extends 'diaryapp/base.html' %}

{% load django_bootstrap5 %}

{% block title %}
ホーム
{% endblock %}

{% block content %}

<h3>{{user.username}}</h3>
{% if latest_diary_list %}
<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for diary in latest_diary_list %}

  <div class="col">
    <a href="{% url 'diaryapp:detail' diary.id %}">
      <div class="card h-100">
        <!--<img src="..." class="card-img-top" alt="...">-->
        <div class="card-body">
          <h5 class="card-title">{{ diary.title }}</h5>
          <p class="card-text">{{diary.writer.username}}</p>
          <a class="btn btn-primary" href="{% url 'diaryapp:edit' diary.id %}" role="button">編集</a>
        </div>
      </div>
    </a>
  </div>


  {% endfor %}
</div>
{% endif %}
<form action="{% url 'diaryapp:create' %}" method=post>
  {% csrf_token %}
  <input type="submit" value="新規投稿">
</form>

<form action="{% url 'diaryapp:logout' %}" method=post>{% csrf_token %}
  <input type="submit" class="button" title="Sign Out" value="Sign Out"></input>
</form>
{% endblock %}